.ContainerModal{
    width: 250px;
    height: 150px;
    border-radius: 4px;
    box-shadow: 0 0 0 10px orange;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}