.container{
    display: inline;
    margin: 20px;
    padding: 50px;
    border-radius: 4px;
    box-shadow: 2px 2px 10px black;
    justify-content: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    word-break: break-all;
}
.tarefa{
    position: relative;
}
.button{
    position: absolute;
    margin-right: 0px;
    padding: 4px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    font-family: serif, Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid rgb(255, 0, 0);
    top: -15px;
    left: -15px;
}

.button:hover{
    transform: scale(1.1);
} 

.input{
    position: absolute;
    right: -35px;
    top: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000000;
    cursor: pointer;
    transform: scale(1.9);
    transition: .5s;
    overflow: hidden;
}

.input:checked.input::before{
    position: absolute;
    top: -5px;
    right: 2px;
    content: '✔';
    font-size: 1.3em;
    color: rgb(0, 255, 55);
    z-index: 10000;
    transform: translateX(-15px);
    transition: .5s;
    animation: Checked .5s linear forwards;
}

@keyframes Checked {
    to{
        transform: initial;
    }
}

.input:hover{
    top: -2px;
    box-shadow: 0px 8px 2px black;
}
